.login-page {
  min-height: 100vh;

  display: flex;
  flex-flow: row nowrap;

  .form-block {
    @include themed() {
      background: t($main-background-color);
      box-shadow: t($bs);
    }

    width: 50%;
    min-width: 300px;

    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;

    position: relative;
    z-index: 2;

    @include tablet-portrait-and-below {
      width: 100%;
    }

    footer {
      width: 100%;
      max-width: 600px;
    }
  }

  .image-block {
    background: $white;
    @include themed() {
      background: t($wb);
    }

    width: 50%;

    position: relative;
    z-index: 1;

    @include tablet-portrait-and-below {
      display: none;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;

    & > div {
      width: 100%;
      margin-bottom: 10px;
    }

    .error,
    .warning {
      color: $red;
      font-weight: 700;
      text-align: right;
      margin-bottom: 14px;
    }

    .buttons {
      margin-top: 6px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > button {
        margin-left: 10px;
      }
    }

    .password-forget {
      margin-top: 6px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &.register {
    .form-block {
      width: 100%;
    }
  }  
}