$main-background-color: #eeeeee;

$primary-color: #313131;
$secondary-color: #696969;
$tertiary-color: #c3c3c3;

$primary-color-02: #31313133;
$secondary-color-02: #69696933;
$tertiary-color-02: #c3c3c333;

$white: #ffffff;
$red: #dd3336;
$black: #000000;

$bs: 0 0 30px -2px $primary-color-02;

$fontTitle: 'Montserrat', sans-serif;
$font: 'Roboto', sans-serif;